body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Space Mono', monospace;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    height: 474px;
    width: 449px;
    padding: 35px;
    border: 8px solid #8f44ac;


}

.card__container_image-circular {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    width: 120px;
    overflow: hidden;
    padding: 2px;
    border-radius: 50%;
    border: 5px solid #8f44ac;

}

.card__image_circular {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;

}

.card__name {
    margin: 10px 0px 0px;
    color: #8f44ac;
}

.card__container_stars {
    display: flex;


}

.card__image_star {
    align-self: center;
    width: 20px;


}


.card__description {
    text-align: justify;
}

.card__container_button {
    display: flex;
    align-self: stretch;
    gap: 5px;

}

.card__button {
    border-radius: 4px;
    flex-grow: 1;
    padding: 8px;
    border: 2px solid #8f44ac;
    color: #8f44ac;
    background-color: white;

}

.card__button_color-purple {
    color: white;
    background-color: #8f44ac;
}